---
import { navLinks, site } from "../site.config";

interface Props {
  email: string;
  socials?: { label: string; href: string }[];
}

const { email, socials = site.socials } = Astro.props;
---

<footer>
  <div class="line border-top"></div>
  <div class="container color-fg-muted text-small pt-7">
    <div class="flex-1 d-flex flex-items-start">
      <span>Uzdrīksties sev noticēt</span>
    </div>
    <div class="d-flex flex-column gap-1 mr-2 mr-md-6">
      {
        socials.map((social) => (
          <div class="item d-flex flex-items-center gap-1">
            <a href={social.href} target="_blank" rel="noopener">
              {social.label}
            </a>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="trailingIcon"
            >
              <path d="M7 7h10v10"></path>
              <path d="M7 17 17 7"></path>
            </svg>
          </div>
        ))
      }
    </div>
    <div class="d-flex flex-column gap-1 mr-2 mr-md-6">
      {
        navLinks.map((link) => (
          <div class="item d-flex flex-items-center gap-1">
            <a href={link.href}>
              {link.text}
            </a>
          </div>
        ))
      }
    </div>
    <div class="mr-2 mr-md-6">
      <div class="d-flex flex-items-center gap-1">
        <a href="/vestkopa">Vēstkopa</a>
      </div>
    </div>
  </div>
</footer>
